*{
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: White;
}

#logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    color: White;
    background-color: black;
    position: sticky;
    top: 0px;
}

ul {
    display: flex;
    column-gap: 20px;
    align-items: center;
}