*{
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

.cart {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

.cart_items {
    box-shadow: 0px 0px 5px black;
    border-radius: 15px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 0px 5px black;
    border-radius: 15px;
    padding: 10px;
    text-align: start;
}

.cart_imgs {
    width: 200px;
    border-radius: 15px;
}

.split {
    display: grid;
    row-gap: 20px;
}

.cart_name {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btns {
    display: flex;
    column-gap: 8px;
}

ul {
    padding-left: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.cart_empty {
    width: 250px;
    padding: 20px 0px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px black;
}

.total {
    padding: 20px;
    text-align: start;
    box-shadow: 0px 0px 5px black;
    border-radius: 15px;
}